.wrapper-navabr {
    height: 100px;
    background-color: #ffff;
   
}

.wrapper-buttons button {
    margin-left: 50px;
    margin-top: 20px;
    padding: 4px 8px;
    font-size: medium;
    font-weight: bold;
    background: none;
    border: none;
    list-style: none;
    
}

.wrapper-buttons button a{
    color: black;
    list-style: none;
    text-decoration: none;
}